body {overflow: hidden;}
table {
  float: left;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #000;
}
table td,
table th {
  border: 1px solid #000;
  text-align: center;
  width: 25%;
}
.col {
  float: left;
  width: 25%;
  padding: 5px;
  box-sizing: border-box;
}
.row {
  clear: both;
  display: block;
  width: 100%;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
ul li {
  float: left;
  width: 25%;
  text-align: center;
}
.my-slide-container {
  position:relative;
}
.my-slide-animation.ng-enter,
.my-slide-animation.ng-leave {
  -webkit-transition:0.3s linear all;
  -moz-transition:0.3s linear all;
  -o-transition:0.3s linear all;
  transition:0.3s linear all;

  position:absolute;
  top:0;
  height:600px;
  width: 100%;
  background: #fff;
}

.my-slide-animation.ng-enter {
  z-index:100;
  opacity: 0;
}
.my-slide-animation.ng-enter.ng-enter-active {
  top:0;
  opacity: 1;
}

.my-slide-animation.ng-leave {
  z-index:101;
  top:0;
  opacity: 1;
}
.my-slide-animation.ng-leave.ng-leave-active {
  opacity: 0;
}
